{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href=""
/>
{% endblock %} {% block content %}


<h1>Cars List</h1>



<section >

  {% for car in cars %}
  {% if car.status == "Sold" %}
  <div>
    <div>
        <div class="card-content">
          <div class="card-img-container">
            {% if car.image %}
            <img src="{{ car.image.url }}" alt="{{ car.name }}">
            {% else %}
            <p>No Image</p>
            {% endif %}
          </div>
          <h1 class="car-name">{{ car.name }}</h1>
          <h3 class="car-price">Car Price: {{ car.buy_price }}</h3>
          <h3 class="car-status">Car Status: {{ car.status }}</h3>
          <button > <a href="/cars/{{ car.id }}">More</a></button>
    </div>
  </div>
  {%endif%}
  {% endfor %}
</section>

{% endblock %}
