{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cars/cars.css' %}">
{% endblock %}
{% block content %}
<div class="cars-page">
  <div class="page-header">
      <h1 class="cars-title">My Cars</h1>
      <a href="{% url 'car-create' %}" class="add-car-button">
          <span>+</span> Add Car
      </a>
  </div>

  <div class="cars-grid">
      {% for car in cars %}
      {% if car.status != 'Sold' %}
      <div class="car-card">
          <div class="car-img-container">
              {% if car.image %}
              <img src="{{ car.image.url }}" alt="{{ car.name }}">
              {% else %}
              <p>No Image Available</p>
              {% endif %}
          </div>
          <h2 class="car-name">{{ car.name }}</h2>
          <p class="car-price"><strong>Price:</strong> {{ car.buy_price }} BHD</p>
          <p class="car-status 
              {% if car.status == 'Available to Sale' %}status-available
              {% elif car.status == 'In Inventory' %}status-inventory
              {% else %}status-sold{% endif %}">
              <strong>Status:</strong> {{ car.status }}
          </p>
          <a class="btn-more" href="/cars/{{ car.id }}">More</a>
      </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}