{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href=""
/>
{% endblock %} {% block content %}


<h1>Cars List</h1>
<button >Add Car</button>


<section >
  {% for car in cars %}
  <div>
    <div>
        <div class="card-content">
          <div class="card-img-container">
            <img src="{{ car.image.url }}" alt="{{ car.name }}">
          </div>
          <h1 class="card-name">{{ car.name }}</h1>
          <h3 class="card-price">Car Price: {{ car.buy_price }}</h3>
          <h3 class="card-price">Car Status: {{ car.status }}</h3>
          <button > <a href="/cars/{{ car.id }}">More</a></button>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
