{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <title>Sayyarati</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="">
      <a href="/">
        <img src="" alt="Sayyarati Logo" />
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'cars' %}">My Cars</a>
        </li>
        <li>
          <a href="">Add Car</a>
        </li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
          <li><a href="{% url 'car-create' %}">Add a Cat</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>