{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <title>Sayyarati</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="header-container">
        <img src="https://i.imgur.com/0jMx4q2.png" alt="Sayyarati Logo">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'cars' %}">My Cars</a>
                </li>
                <li>
                    <a href="{% url 'car-create' %}">Add Car</a>
                </li>
                <li>
                    <a href="{% url 'cars-history' %}">History</a>
                </li>
                <li class="nav-right">
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-right">
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}" >Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>